# Dependencies
node_modules/
v10/

# Build Outputs
dist/
build/
out/
drizzle/
.turbo/
*.tsbuildinfo

# Environment Variables
.env
.env.local

# System Files
.DS_Store
Thumbs.db
data/


#Ignore cursor AI rules
.cursor/rules/codacy.mdc
